
# don't upload figures
*.pdf
*.jpeg
*.png

# don't upload any pf the MCMC chains and pppval results
*_chain_sample.csv
*_posterior_predictive_results.csv

# don't upload jobs
*.sh

# don't upload submission files
submission.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook stuff
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

.DS_Store

# dont' upload results here; they are at zenodo
RESULTS
